<section class="no2" >
            <div class="container" id="services">
                <h1>Our Services</h1>
                <div class="row justify-content-center" >
                    <div class="service one">
                        <i class="fas fa-laptop-code"></i>
                        <h2>Web design</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>

                    <div class="service two">
                        <i class="fa-solid fa-palette" ></i>
                        <h2>Graphics</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>


                    <div class="service three">
                        <i class="fa-solid fa-magnifying-glass-chart"></i>
                        <h2>Data Analysis</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="service four">
                        <i class="fa-solid fa-mobile"></i>
                        <h2>App Development</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>


                    <div class="service five" >
                        <i class="fa-solid fa-route"></i>
                        <h2>Networking</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>

                </div>
                

            </div>
</section>